body{
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-direction: column;

}
#backG{
    background: url("../images\ /backG.jpeg")repeat ;
}
header{
    background-color: rgb(104, 104, 104);
    justify-content: space-evenly;
    border: solid black;
}

.tic{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 20px;
    font-style: unset; 
}

footer{
    /* background-color: rgb(90, 208, 244);
    align-items: flex-end;
    text-align: end;
    text-transform: uppercase;
    position: relative; */
    /* text-align: center; */
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color:rgb(104, 104, 104);
	font-size: 14px;
	font-weight: 500;
    justify-content: space-between;
    border:solid black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.general{

    text-align: left;
    padding: 0 0 20px 20px;
    font-size: 30px;
    color: white;
}

#inline{
    margin: 0 auto;
    padding: 4px;
    color: gray;
}

#bord{
  text-align: center;
  margin: 8px auto;
  border:solid black;
  border-radius: 20px;
  width: 700px;
  height: 760px;
  /* background-color: rgb(104, 104, 104); */
}

.container {
    text-align: center;
    margin: 90px auto;
    border:solid black;
    border-radius:20px ;
    width: 500px;
    height: 500px;
    background-color: black;
  }

.zone {
    width: 140px;
    height: 140px;
    border: solid white;
    margin: 6px;
    display: inline-block;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;

  }

  .scores{
    /* text-align: center; */
    /* padding-bottom: px; */
    font-size: 8px;
    /* padding-left: 10px; */
    /* border:groove black; */
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

  }



.ties{
    display: inline-block;
    border:solid 1px black;
}
/* #randomize{
    align-items: center;
} */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart{
position: absolute;
top: 200px;
left: 150px;
/* background-color:; */
color: black;
border: solid ;
border-radius:8px ;

}
.turn{
    position: absolute;
    top: 300px;
    left: 110px;
    background-color:rgb(104, 104, 104);
    color: white;
    border: solid black;
    width: 15%;
    height: 20%;
    text-align: center;
    font-size: 20px;
}
.dImg{
    width: 50%;
    height: 60%;
    position: absolute;
    left:60px;
    top:40px;

}

.player{ 
    background-color: gray;
    display: inline-block;
    border:solid 2px black;
    font-size: 18px;
}

.scoreX ,.scoreO,.scoreT{
    font-size: 20px;
}