body{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

#backG{
    background: url("../images\ /backG.jpeg")repeat ;
}

header{
    background-color: #797367;
    justify-content: space-evenly;
    border: solid black;
}

.tic{
    width: 100%;
    height: 80px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: unset; 

}

.itic {
    width: 15%;
}

footer{
	text-transform: uppercase;
	background-color:#797367;
	font-size: 14px;
	font-weight: 500;
    justify-content: space-between;
    border:solid black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.name{
    text-align: left;
    padding: 0 0 20px 20px;
    font-size: 30px;
    color: #DAE6D0;
}

.aboutme{
    position: absolute;
    font-size: 10px;
    color: #DAE6D0;
    text-align: right;
    
}

#inline{
    margin: 0 auto;
    padding: 4px;
    color: gray;
}

#bord{
  text-align: center;
  border:solid black;
  border-radius: 20px;
  width: 700px;
  height: 760px;
  background-color: #797367;
  position: absolute;
  left: 500px;
  top: 100px;
}

.container {
    text-align: center;
    margin: 90px auto;
    border:solid black;
    border-radius:20px ;
    width: 500px;
    height: 500px;
    background-color: black;
  }

.zone {
    width: 140px;
    height: 140px;
    border: solid white;
    margin: 6px;
    display: inline-block;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
  }

.scores{
    
    font-size: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

.ties{
    display: inline-block;
    border:solid 1px black;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart{
    position: absolute;
    top: 200px;
    left: 150px;
    background-color:#797367;
    color: #DAE6D0;
    border: solid black;
    border-radius:8px ;

}
.turn{
    position: absolute;
    top: 300px;
    left: 110px;
    background-color:#797367;
    color: #DAE6D0;
    border: solid black;
    width: 250px;
    height: 200px;
    text-align: center;
    font-size: 20px;
    border-radius:8px ;
}
.dImg{
    width: 50%;
    height: 60%;
    position: absolute;
    left:60px;
    top:40px;

}

.player{ 
    background-color: #797367;
    display: inline-block;
    font-size: 18px;
    color: #DAE6D0;
}

.scoreX ,.scoreO,.scoreT{
    font-size: 20px;
}

.winner{
    color: #DAE6D0;
    position: absolute;
    text-align: center;
    top: 630px;
    left:100px;
    font-size: 24px;
}

/* @media only screen and (max-width:1350px){


} */
@media (max-width:375px){
    footer{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    
    }  
    #bord{
    width: 350px;
    height: 480px;
    left: 5px;
    top: 210px;
    
    }  
    .turn{
        top: 90px;
        left: 10px;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 12px;
    }
    .dImg{
        width: 50%;
        height: 60%;
        left:24%;
        top:30%;
    
    }
    #restart{
        top: 110px;
        left: 250px;
        height: 60px;
        width: 100px;
        font-size: 18px;

    }
    .container {
       
        margin: 20px auto;
        border:solid black;
        border-radius:20px ;
        width: 300px;
        height: 310px;
    }
    .zone{
        width: 80px;
        height: 80px;
    }
    .itic {
        width: 60%;
        }
    .name{
        font-size: 18px;
    }
    .aboutme{
        font-size: 8px;
    }
    .winner{
        color: #DAE6D0;
        position: absolute;
        text-align: center;
        top: 450px;
        left:50px;
        font-size: 24px;
    }
    }
